.navbar {
  background-color: #ebd0bf;
  color: #974255;
}
.navbartext {
  color: #974255;
  font-weight: 500;
}
.footer {
  background-color: #f5f4f0;
}
.about,
.list,
.editing {
  color: #383732;
  margin: 2rem 3rem;
}
.textAbout {
  text-align: justify;
  padding-top: 1rem;
}
.cardAbout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
  margin-bottom: 4rem;
  column-gap: 5%;
}
.cardList {
  min-height: 450px;
  max-height: fit-content;
  display: flex;
  margin: 1rem 0;
  justify-content: space-around;
}
.listCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  margin: 2rem 0;
  column-gap: 2%;
}
.cuttedText {
  display: block;
  width: 14rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.uncuttedText {
  cursor: pointer;
}
.link-opacity-75 {
  text-decoration: none;
  color: #383732;
}
.imgList {
  object-fit: cover;
  height: 170px;
}
.listBtn {
  display: flex;
  justify-content: right;
  margin-bottom: 0;
}
.addBtn {
  color: #974255;
  padding: 0.5rem 2rem;
  border: solid 0.1rem #ac4f3d;
  border-radius: 10px;
  background: #ebd0bf;
}
.addBtn:hover {
  color: #e6e5e1;
  background: #ac4f3d;
}
.addingForm {
  margin: 1rem 0;
}
.noteAdd {
  color: #974255;
  font-weight: 500;
  font-size: 1.2rem;
}
.form-control {
  margin-top: 1rem;
}
.editing {
  color: #383732;
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
}
.editForm {
  width: 60%;
}
.cardEditing {
  width: 25%;
}
