/* цвета: бежевый #ebd0bf
желтый: #f8e27f
коричнево-красный: #ac4f3d
почти черный #383732
винный красный #974255
почти белый #e6e5e1 */

.navbar {
  background-color: #ebd0bf;
  color: #974255;
}
.navbartext {
  color: #974255;
  font-weight: 500;
}

.footer {
  background-color: #f5f4f0;
}

.about,
.list {
  color: #383732;
  margin: 2rem 3rem;
}
.textAbout {
  text-align: justify;
  padding-top: 1rem;
}

.cardAbout {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.card {
  width: 25%;
}
.listCards {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.imgList {
  object-fit: cover;
  height: 30%;
}
.listBtn {
  display: flex;
  justify-content: right;
}
.addBtn {
  color: #974255;
  padding: 0.5rem 2rem;
  border: solid 0.1rem #ac4f3d;
  border-radius: 10px;
  background: #ebd0bf;
}
.addBtn:hover {
  color:#e6e5e1;
  background: #ac4f3d;
}
.addingForm {
  margin: 1rem 0;

}
.form-control {
  margin-top: 1rem;
  content: " *";
}

.editing {
  color: #383732;
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
}
.editForm {
  width: 60%;
}








.checked {
  text-decoration: line-through;
}

.main {
  padding: 0 15%;
}

.captionList {
  font-size: 1.3rem;
}

.captionTask {
  font-size: 1.1rem;
  font-weight: normal;
}

.form-check {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
}
.form-check-label {
  margin-left: 10px;
}
.form-edit {
  display: flex;
  align-items: center;
  width: 100%;
}
.none {
  display: none;
}
